astroid==2.15.5
autopep8==2.0.2
cfgv==3.3.1
colorama==0.4.6
dill==0.3.6
distlib==0.3.6
filelock==3.12.0
flake8==6.0.0
identify==2.5.24
iniconfig==2.0.0
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
nodeenv==1.8.0
packaging==23.1
platformdirs==3.5.1
pluggy==1.0.0
pre-commit==3.3.2
pycodestyle==2.10.0
pyflakes==3.0.1
pylint==2.17.4
PyYAML==6.0
tomlkit==0.11.8
virtualenv==20.23.0
wrapt==1.15.0
